body {
  padding: 50px; }

.trigger {
  width: 200px;
  height: 200px;
  border: 20px solid #999;
  background: #ddd; }

.box {
  width: 200px;
  height: 200px;
  background: pink;
  display: inline-block;
  transition: transform 300ms ease-in-out;
  pointer-events: none; }

.trigger.clicked .box {
  transform: translate(200px, 150px) rotate(20deg); }
