doctype html
html(lang="fr")
  head
    title= pageTitle
    meta(charset='utf-8')
    link(href='/css/myStyle.css', rel='stylesheet')
  body
  .trigger
    .box

    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='./main.js')

